<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleanotacoes.css">

    <title>Anotações</title>
</head>
<body>
    <header>
        <div class="topo">
            <a href="Arquivos">Arquivos</a>
            <a style="background-color: #FFBD59;" href="/anotacoes">Anotações</a>
            <a href="/financeiro">Financeiro</a>
            <a href="/feedback">Feedback</a>

        </div>
        
    </header>
    <nav>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/'">Visualização Atualizada</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/registarveiculo'">Veículo Avulsos</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/cadastrarcliente'">Clientes</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/historico'">Histórico</button>
        </div>
    </nav>
    <main class="historico">
        <div class="titulo">
             <h1>Bloco de notas</h1>
        </div>

        <div class="bloco">
            <h3>Digite a data e a sua anotação</h1>
            <textarea id="notepad" placeholder="Comece a escrever suas notas aqui..."></textarea>
            <p class="info">Caro usuário: Suas notas são salvas automaticamente no seu navegador.</p>
        </div>
    
        <script src="../static/js/bloco.js"></script>
        

    </main>
    <footer>
        
    </footer>
</body>
</html>