<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cadastroCliente.css">
    <title>Cadastro do Cliente</title>
</head>

<body>
    <header>
        <div class="topo">
            <a href="/arquivos">Arquivos</a>
            <a href="/anotacoes">Anotações</a>
            <a href="/financeiro">Financeiro</a>
            <a href="/feedback">Feedback</a>

        </div>
        
    </header>
    <nav>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/'">Visualização Atualizada</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/registarveiculo'">Registro Veículo</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao1" onclick="window.location.href='/cadastrarcliente'">Cadastro Cliente</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/historico'">Histórico</button>
        </div>
    </nav>
    <main>
        <form action="/sendCliente" id="formCliente" method="post">
            <div class="pesquisa">
                    <input type="text" name="" id="pesquisaCliente" placeholder="Buscar CPF...">
                    <button type="button" onclick="buscarCliente()">🔍</button>
            </div>
        <div class="conteudo-principal">
            <div class="detales">
                <div class="nome">
                        <input type="text" name="nomeCliente" id="nomeCliente" placeholder="Nome...">
                </div>
                <div class="cpf">
                        <input type="text" name="cpfCliente" id="cpfCliente" placeholder="CPF...">
                </div>
                <div class="fone">
                        <input type="text" name="foneCliente" id="foneCliente" placeholder="Fone...">
                </div>
                <div class="email">
                        <input type="text" name="emailCliente" id="emailCliente" placeholder="E-mail...">
                </div>
                <!-- alterações na div pra depois -->
                <div class="buscar">
                    <select name="plano" id="plano">
                        {%for plano in planos%}
                            <option value="{{plano}}">{{plano}}</option>
                        {%endfor %}

                    </select>
                        <!-- <input type="text" name="planoCliente" placeholder="Tipo Plano...">
                        <button type="">🔍</button> -->
                </div>
                <!-- alterar depois -->
                <div class="email">
                    <select name="vaga" id="vaga">
                        {%for vaga in vagas%}
                            <option value="{{vaga}}">{{vaga}}</option>
                        {%endfor %}

                    </select>
                    <!-- <input type="text" name="vagaCliente" placeholder="Vaga..."> -->
                </div>


        </div>
        <div class="Modelo">
            <div class="modelo">
                    <input type="text" name="modeloCliente" id="modeloCliente" placeholder="Modelo...">

            </div>
            <div class="cor">
                    <input type="text" name="corCliente" id="corCliente" placeholder="Cor...">

            </div>
            <div class="placa">
                    <input type="text" name="placaCliente" id="placaCliente" placeholder="Placa...">
              
            </div>
             <!-- botões de entrada e saída -->
            <div class="botaoMensal">
                <button type="button" class="registroMensal" onclick="enviarPara('/registrarentradacliente')">
                    <p>Entrada Mensal</p>
                </button>
                <button type="button" class="saidaMensal" onclick="enviarPara('/registrarsaidacliente')">
                    <p>Saida mensal</p>
                </button>
            </div>
        </div>
        </div>
        <div class="botao">
            <button type="submit" class="registro">
                <p>Registrar</p>
            </button>
            <button type="reset" class="limpa">
                <p>Limpar</p>
            </button>
        </form>
            <button class="finaliza">
                <p>Finalizar</p>
            </button>
        </div>
    </main>
    <footer>

    </footer>
    <script src="../static/js/cadastroCliente.js"></script>
</body>

</html>