<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylefinanceiro.css">

    <title>Financeiro</title>
</head>
<body>
    <header>
       <header>
        <div class="topo">
            <a href="Arquivos.html">Arquivos</a>
            <a href="/anotacoes">Anotações</a>
            <a style="background-color: #FFBD59;"  href="/financeiro">Financeiro</a>
            <a href="/feedback">Feedback</a>

        </div>
        
    </header>
        
    </header>
     <nav>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/'">Visualização Atualizada</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/registarveiculo'">Registro Veículo</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/cadastrarcliente'">Cadastro Cliente</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/historico'">Histórico</button>
        </div>
    </nav>
    <main class="historico">
        <div class="titulo">
             <h1>Financeiro</h1>
        </div>

        <div class="container">
            <a href="{{ url_for('download_relatorio', tipo='diario') }}">
                <div class="card">
                  <h3>Baixar Relatório Financeiro Diário</h3>
                </div>
              </a>
              
              <a href="{{ url_for('download_relatorio', tipo='mensal') }}">
                <div class="card">
                  <h3>Baixar Relatório Financeiro Mensal</h3>
                </div>
              </a>
          
              </div>
            </a>
          </div>
        

    </main>
    <footer>
        
    </footer>
</body>
</html>