<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleindex.css">
    <link rel="stylesheet" href="../static/css/menu_contexto.css">
    <title>Principal</title>
</head>

<body>
     <header>
        <div class="topo">

            <a href="/arquivos">Arquivos</a>
            <a href="/anotacoes">Anotações</a>
            <a href="/financeiro">Financeiro</a>
            <a href="/feedback">Feedback</a>


        </div>
        
    </header>
    <nav>
        <div class="minha-div">
            <button class="meu_botao1" onclick="window.location.href='/'">Visualização Atualizada</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/registarveiculo'">Registro Veículo</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/cadastrarcliente'">Cadastro Cliente</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/historico'">Histórico</button>
        </div>
    </nav>
    <main>

        <!-- primeira fileira -->

            <div class="vaga" id="AC1" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vaga.png" data-imagem-ocupada="../static/assets/imgs/vagaOcupada.png">
            <img src="../static/assets/imgs/vaga.png" alt="">
            <p>AC1</p>
            </div>

            <div class="vaga" id="AC2" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vaga.png" data-imagem-ocupada="../static/assets/imgs/vagaOcupada.png">
            <img src="../static/assets/imgs/vaga.png" alt="">
            <p>AC2</p>
            </div>

            <div class="vaga" id = "AC3" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vaga.png" data-imagem-ocupada="../static/assets/imgs/vagaOcupada.png">
            <img src="../static/assets/imgs/vaga.png" alt="">
            <p>AC3</p>
            </div>

             <div class="vaga" id = "AD1" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vaga.png" data-imagem-ocupada="../static/assets/imgs/vagaOcupada.png">
            <img src="../static/assets/imgs/vaga.png" alt="">
            <p>AD1</p>
            </div>

           <div class="vaga" id = "AD2" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vaga.png" data-imagem-ocupada="../static/assets/imgs/vagaOcupada.png">
            <img src="../static/assets/imgs/vaga.png" alt="">
            <p>AD2</p>
            </div>

             <div class="vaga" id = "AD3" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vaga.png" data-imagem-ocupada="../static/assets/imgs/vagaOcupada.png">
            <img src="../static/assets/imgs/vaga.png" alt="">
            <p>AD3</p>
            </div>

        <!-- segunda fileira -->
            <div class="vaga" id = "AM1" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vaga.png" data-imagem-ocupada="../static/assets/imgs/vagaOcupada.png">
            <img src="../static/assets/imgs/vaga.png" alt="">
            <p>AM1</p>
            </div>

            <div class="vaga" id = "AM2" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vaga.png" data-imagem-ocupada="../static/assets/imgs/vagaOcupada.png">
            <img src="../static/assets/imgs/vaga.png" alt="">
            <p>AM2</p>
            </div>

            <div class="vaga" id = "AM3" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vaga.png" data-imagem-ocupada="../static/assets/imgs/vagaOcupada.png">
            <img src="../static/assets/imgs/vaga.png" alt="">
            <p>AM3</p>
            </div>

            <div class="vaga" id = "MC1" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vagaCoberta.png" data-imagem-ocupada="../static/assets/imgs/vagaCobertaOcupada.png">
            <img src="../static/assets/imgs/vagaCoberta.png" alt="">
            <p>MC1</p>
            </div>

            <div class="vaga" id = "MC2" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vagaCoberta.png" data-imagem-ocupada="../static/assets/imgs/vagaCobertaOcupada.png">
            <img src="../static/assets/imgs/vagaCoberta.png" alt="">
            <p>MC2</p>
            </div>

             <div class="vaga" id = "MD1" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vagaCoberta.png" data-imagem-ocupada="../static/assets/imgs/vagaCobertaOcupada.png">
            <img src="../static/assets/imgs/vagaCoberta.png" alt="">
            <p>MD1</p>
            </div>


        <!-- terceira fileira -->
            <div class="vaga" id = "MD2" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vagaCoberta.png" data-imagem-ocupada="../static/assets/imgs/vagaCobertaOcupada.png">
            <img src="../static/assets/imgs/vagaCoberta.png" alt="">
            <p>MD2</p>
            </div>

            <div class="vaga" id = "MM1" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vagaMoto.png" data-imagem-ocupada="../static/assets/imgs/vagaMotoOcupada.png">
            <img src="../static/assets/imgs/vagaMoto.png" alt="">
            <p>MM1</p>
            </div>

            <div class="vaga" id = "MM2" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vagaMoto.png" data-imagem-ocupada="../static/assets/imgs/vagaMotoOcupada.png">
            <img src="../static/assets/imgs/vagaMoto.png" alt="">
            <p>MM2</p>
            </div>

            <div class="vaga" id = "MM3" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vagaMoto.png" data-imagem-ocupada="../static/assets/imgs/vagaMotoOcupada.png">
            <img src="../static/assets/imgs/vagaMoto.png" alt="">
            <p>MM3</p>
            </div>

            <div class="vaga" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vagaMoto.png" data-imagem-ocupada="../static/assets/imgs/vagaMotoOcupada.png">
            <img src="../static/assets/imgs/vagaMoto.png" alt="">
            <p>M4</p>
            </div>

            <div class="vaga" data-tipo="vaga" data-ocupada="false" data-imagem-vazia="../static/assets/imgs/vagaMoto.png" data-imagem-ocupada="../static/assets/imgs/vagaMotoOcupada.png">
            <img src="../static/assets/imgs/vagaMoto.png" alt="">
            <p>M5</p>
            </div>

       
            <div id="menu-contexto" class="menu-contexto">
                <ul>
                    <li data-acao="adicionarVeiculo">Adicionar Veículo</li>
                    <li data-acao="finalizarVeiculo">Finalizar Veículo</li>
                    <li data-acao="cancelar">Cancelar</li>
                </ul>
            </div>


    </main>
    <footer>

    </footer>
    <script src="../static/js/menu_contexto.js"></script>
    <script src="../static/js/muda_vaga.js"></script>
</body>

</html>