<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylePagamento.css">

    <title>Pagamento</title>
</head>
<body>
    <header>
        <h1>TICKET PARA PAGAMENTO - ESTACIONAMENTO AVULSO</h1>

    </header>
    <nav class="dados">
        <div class="chegada">
            <input type="text" name="modeloCliente" placeholder="Hora de Chegada...">

        </div>
        <div class="saida">
            <input type="text" name="corCliente" placeholder="Hora de Saida...">

        </div>
        <div class="data">
            <input type="text" name="placaCliente" placeholder="Data...">

        </div>
        <div class="utilizada">
            <input type="text" name="placaCliente" placeholder="Vaga Utilizada...">

        </div>
    </nav>
    <main>
       <div class="principal">
            <h2>Discriminação dos Serviços:</h2>
            <p>Total Vagas:</p>
            <p>Total de Horas:</p>
            <p>Valor total a ser pago:</p>
       </div>
       <div class="botao">
            <button type="submit" class="imprimir">
                <p>Imprimir</p>
            </button>
            <button type="reset" class="finalizar">
                <p>Finalizar</p>
            </button>
            <button  >
                <p><img src="/EstaciOne/static/assets/imgs/download.webp" alt="Imagem de Download"></p>
            </button>
            <button >
                <p><img src="/EstaciOne/static/assets/imgs/impresora.avif" alt="Impresoara"></p>
            </button>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>