<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/stylePagamento.css">

    <title>Pagamento</title>
</head>
<body>
    <header>
        <h1>TICKET PARA PAGAMENTO - ESTACIONAMENTO AVULSO</h1>

    </header>
    <nav class="dados">
        <div class="chegada">
    <input type="text" name="chegada" placeholder="Hora de Chegada..." value="{{ dados.entrada }}">
        </div>
        <div class="saida">
    <input type="text" name="saida" placeholder="Hora de Saída..." value="{{ dados.saida }}">
        </div>
        <div class="utilizada">
    <input type="text" name="vaga" placeholder="Vaga Utilizada..." value="{{ dados.vaga }}">
        </div>
    </nav>
    <main>
       <div class="principal">
            <h2>Discriminação dos Serviços:</h2>
            <p>Valor total a ser pago: R$ {{ dados["valor"] }}</p>
       </div>
       <div class="botao">
            <button type="submit" class="imprimir">
                <p>Imprimir</p>
            </button>
            <button type="reset" class="finalizar" onclick="window.location.href='/'">
                <p>Finalizar</p>
            </button>
            <button  >
                <p><img src="../static/assets/imgs/download.png" alt="Imagem de Download"></p>
            </button>
            <button >
                <p><img src="../static/assets/imgs/printer.png" alt="Impresoara"></p>
            </button>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>