<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleRegistrarVeiculos.css">
    <title>Registrar Veículos</title>
</head>

<body>
     <header>
        <div class="topo">
            <a href="/arquivos">Arquivos</a>
            <a href="/anotacoes">Anotações</a>
            <a href="/financeiro">Financeiro</a>
            <a href="/feedback">Feedback</a>

        </div>
        
    </header>
   <nav>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/'">Visualização Atualizada</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao1" onclick="window.location.href='/registarveiculo'">Veículo Avulsos</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/cadastrarcliente'">Clientes</button>
        </div>
        <div class="minha-div">
            <button class="meu_botao" onclick="window.location.href='/historico'">Histórico</button>
        </div>
    </nav>
    <main>
        <!-- aqui o pagamento avulso -->
        <form action="/sendVeiculo" id="formRegistrarVeiculo" method="post">
            <div class="pesquisa">
                <input type="text" name="" id="pesquisaPlaca" placeholder="Pesquisar placa...">
                <button type="button" onClick = "buscarVeiculo()">🔍</button>            
            </div>
    
        <div class="conteudo-principal">
            <div class="detales">
                <div class="modelo">
                        <input type="text" name="modeloCarro" id="modeloCarro" placeholder="Modelo...">
                </div>
                <div class="cor">
                        <input type="text" name="corCarro" id="corCarro" placeholder="Cor...">
                </div>
                <div class="placa">
                        <input type="text" name="placaCarro" id="placaCarro" placeholder="Placa...">
                </div>
                <div class="buscar">
                    <select name="vaga" id="vaga">
                        {%for vaga in vagas%}
                        <option value="{{vaga}}" id="vaga">{{vaga}}</option>
                        {%endfor%}
                    </select>
                        <!-- <input type="text" name="vagaCarro"  id="vagaCarro" placeholder="Vaga...">
                        <button type="">🔍</button> -->
                </div>
            </div>

            <!-- <div class="dete">
                <div class="data">
                    <form action="#" method="get">
                        <input type="text" name="" placeholder="Data...">

                    </form>
                </div>
                <div class="hora">
                    <form action="#" method="get">
                        <input type="text" name="" placeholder="Hora...">

                    </form>
                </div>
            </div> -->
        </div>
        <div class="botao">
            <button type="submit" class="registro">
                <p>Registrar</p>
            </button>
            <button type="reset" class="limpa">
                <p>Limpar</p>
            </button>
            
            <button type="button" class="finaliza" onclick="enviarParaPagamento()">
                <p>Gerar pagamento</p>
            </button>
            </div>
        </form>
        
    </main>
    <footer>

    </footer>
    <script src="../static/js/registrarVeiculo.js"></script>
    <script src="../static/js/pagamentoAvulsoSend.js"></script>
</body>

</html>